<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>angular-boilerplate</title>
  <link rel="stylesheet" href="<%= asset('app.css') %>">
</head>
<body ng-cloak ng-app='app'>
  <div ng-include="'/templates/nav.html'"></div>
  <div ng-view></div>
  <% if (production) { %>
  <script src="<%= asset('angular/angular.min.js') %>"></script>
  <script src="<%= asset('angular-route/angular-route.min.js') %>"></script>
  <% } else { %>
  <script src="<%= asset('angular/angular.js') %>"></script>
  <script src="<%= asset('angular-route/angular-route.js') %>"></script>
  <% } %>
  <script src="<%= asset('app.js') %>"></script>
</body>
</html>
